.main{
  background-color: white;
  margin-top: 10px;
  padding: 10px;
}
.top{
   font-size:25px;
    padding: 3px  ;
 }
 p{
  font-size:15px;
  font-weight: 500;
  margin: auto;
 }
 .code{
   margin:10px  30px;
 }
 .normal{
  font-size:15px;
  font-weight: 200;
  margin: 10px 30px;
 }
 .main form input[type='text']{
   width:300px;
 }
